<ion-content padding scrollY="false">
    <h1>Sub-Page 1</h1>
    <p class="router-outlet">
        This sub-page show up in the expected place
        when inside of an Angular <code>&lt;router-outlet&gt;</code>:
        under the current page's header that includes a card with an image and a segment bar.
    </p>
    <p class="ion-router-outlet">
        Unfortunately, since the Ionic <code>&lt;ion-router-outlet&gt;</code>
        has an absolute full-screen layout in its shadow DOM styling,
        I can't figure out how to get it positioned correctly.
    </p>
    <p>
        I would like this page to scroll *with* the top-level page and not separately.
    </p>
    <div class="extra-space">extra space...</div>
</ion-content>